body {
    background-image: url(tip.jpg);
    background-size: 1650px;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    
}


#results {
    text-align: center;
    margin-top: 250px;
    
}